%worksans-400 {
  font-family: 'WorkSans-Regular';
  font-weight: 400;
}

%worksans-500 {
  font-family: 'WorkSans-Medium';
  font-weight: 500;
}

%worksans-600 {
  font-family: 'WorkSans-SemiBold';
  font-weight: 600;
}

%worksans-700 {
  font-family: 'WorkSans-Bold';
  font-weight: 700;
}